@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

@import "./styles/transitions.scss";

html, body, #content {
  height: 100%;
}

#content > div {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF8F8; // colors.offWhite
  font-weight: 300;
  width: 100%;
}
